<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.memo.PollingBot</string>
        <key>WorkingDirectory</key>
        <string>$PROJECT_PATH</string>
        <key>ProgramArguments</key>
        <array>
            <string>$PROJECT_PATH/bin/polling_bot</string>
        </array>
        <key>StartInterval</key>
        <integer>600</integer>
    </dict>
</plist>
